/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change Favorite Color */
    --hue-color: ;/* Purple 250 - Green 142 - Blue 230 - Pink 340 */

    /* HSL Color Mode */
    --first-color: #6E57E0;
    --first-color-second: ;
    --first-color-alt: ;
    --first-color-lighter: ;
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --input-color: ;
    --body-color: ;
    --container-color: ;
}